

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'PT Sans', sans-serif;*/
/*font-family: 'PT Sans Narrow', sans-serif;*/

/*Color palette*/
:root {
    --Orange: #FFA500;
    --Blue: #08B4FA;
    --OffWhite: #f2f2f2;
    --LightGray: #A8A8A8;
    --LightOrange: #FFCF64;
}


body{
    font-family: 'PT Sans', sans-serif;
    color: var(--OffWhite);
}
body h1{
    font-family: 'Roboto', sans-serif;
    color: var(--Blue);
}
.section h1,p,span{
    z-index: 10;
}
#menu li{
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

#menu li a{
    text-decoration:none;
    color: var(--OffWhite);
}
#menu li a:hover{
    color: var(--LightGray);
}
#menu li.active a:hover{
    /*color: #f2f2f2;*/
}
#menu li a,
#menu li.active a{
    padding: 9px 4px;
    display:block;
}
#menu li.active a{
    color: var(--Blue);
}
#menu{
    display: flex;
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
    background-color: rgba(0,0,0, 0.5);
}
#menu ul{
    margin: 0;
    padding: 0 10px;
}
#menu .links {
    flex-grow: 1;
    text-align: right;
    font-size: 28px;
    padding: 5px 10px 0 0;
}
#menu .links a{
    color: var(--Orange);
    padding: 5px;
    text-decoration: none;
}
#menu .links a:hover{
    color: var(--LightOrange);
}

.section h1{
    font-size: 9vmax;
    margin: 0;
    text-shadow: 3px 3px 10px rgba(0,0,0,.5);
}

#HomePage{
     background-image: url(../img/bg9.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100%;
 }
#HomePage .flexBox{
    display: inline-flex;
    flex-direction: column;
    padding-left: 7%;
    width: min-content;
}
#HomePage .lastName{
    white-space: nowrap;
}
#HomePage .flexBox p{
    color: var(--OffWhite);
    margin: 0;
    text-align: end;
    font-size: 2em;
}
#aboutSection h1{
    padding-bottom: 20px;
}
#aboutSection .fp-bg{
     background-image: url(../img/bg13.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100%;
 }
#aboutSection .flexBox{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0 10% 0 7%;
}
#aboutSection .aboutInfo p{
    font-size: 2.5vmax;
    font-family: 'Roboto', sans-serif;
}
#aboutSection .aboutBold{
    color: var(--Orange);
    /*font-size: 2.5vmax;*/
    font-weight: bolder;
}
#section2 .fp-bg{
    background-image: url(../img/bg14.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
#section3 .fp-bg{
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
#section4 .fp-bg{
    background-image: url(../img/bg15.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}




@media only screen and (max-width:620px) {
    /* For mobile phones: */
    #HomePage .lastName{
        white-space: normal;
    }
    #aboutSection .aboutInfo p{
        font-size: 3vmax;
    }
}