

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'PT Sans', sans-serif;*/
/*font-family: 'PT Sans Narrow', sans-serif;*/

/*Color palette*/
:root {
    --Orange: #FFA500;
    --Blue: #08B4FA;
    --OffWhite: #f2f2f2;
    --LightGray: #A8A8A8;
    --LightOrange: #FFCF64;
}


body{
    font-family: 'Roboto', sans-serif;
    color: var(--Blue);
;
}
h1{
    font-size: 6em;
}
p{
    font-size: 2em;
}

#menu li{
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

#menu li a{
    text-decoration:none;
    color: var(--OffWhite);
}
#menu li a:hover{
    color: var(--LightGray);
}
#menu li.active a:hover{
    /*color: #f2f2f2;*/
}
#menu li a,
#menu li.active a{
    padding: 9px 4px;
    display:block;
}
#menu li.active a{
    color: var(--Blue);
}
#menu{
    display: flex;
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
    background-color: rgba(0,0,0, 0.5);
}
#menu ul{
    margin: 0;
    padding: 0 10px;
}
#menu .links {
    flex-grow: 1;
    text-align: right;
    font-size: 28px;
    padding: 5px 10px 0 0;
}
#menu .links a{
    color: var(--Orange);
    padding: 5px;
    text-decoration: none;
}
#menu .links a:hover{
    color: var(--LightOrange);
}

#section0{
     background-image: url(../img/bg9.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100%;
 }
#section0 .title{
    font-size: 1.65vw;
    display: inline-block;
}
#section0 .title p{
    color: var(--OffWhite);
    margin: 0;
    text-align: end;
}
#section0 .title h1{
    margin: 0 0 0 10px;
}
#section1 .fp-bg{
     background-image: url(../img/bg13.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100%;
 }
#section2 .fp-bg{
    background-image: url(../img/bg14.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
#section3 .fp-bg{
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
#section4 .fp-bg{
    background-image: url(../img/bg15.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
